
.grid {
    display: grid;
    grid-template-columns: 320px 300px;
    background-color: rgba(255,255,255,0.7);
    width: 630px;

}

.controls-table {
    background-color: rgba(255,255,255,0.7);
}

.canvas-next-div {
    text-align: center;
}

.right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.game-board {
    border: solid 2px;
}
  
.play-button {
    background-color: #4caf50;
    font-size: 16px;
    padding: 15px 30px;
    cursor: pointer;
}

.next {
    width: 100%;
}

#tecla {
    width: 27%;
}

p
{
    font-size: 10pt;
}